[
    {
        "label": "WoWDryad",
        "url": "WoWDryad.mdl"
    },
    {
        "label": "Owl",
        "url": "Owl.mdl"
    },
    {
        "label": "Arthas",
        "url": "Arthas.mdl"
    },
    {
        "label": "DragonRed",
        "url": "DragonRed.mdl"
    },
    {
        "label": "Tauren_Range",
        "url": "Tauren_Range.mdl"
    },
    {
        "label": "archimonde",
        "url": "archimonde.mdl"
    },
    {
        "label": "Knight",
        "url": "Knight.mdl"
    },
    {
        "label": "kiljaeden",
        "url": "kiljaeden.mdl"
    }
]